{% extends 'base.html' %}

{% block content %}

<body>
    <div class="jumbotron">
        <h1 class="display-4">Rhemagist!</h1>
        <p class="lead">Thy word is a lamp unto my feet and a light unto my path! Psalm 119:105</p>
        <hr class="my-4">
        <p class="lead">The word of God is an indispensible asset of a believer. It gives illumination, it gives
            understanding.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

{% endblock %}